 html,
 * {
     box-sizing: border-box;
     --bleu: #045163;
     --bleu-hover: #033f4d;
     --text-color-1: #333;
     --background-color-1: #f4f4f4;
     --background-color-2: #fff;
 }

 /*************** Mise en forme barre de scroll ***************/
 html::-webkit-scrollbar {
     width: 8px;
     /* background-color: #f4f4f4; */
 }

 html::-webkit-scrollbar-thumb {
     background-color: var(--bleu);
     border-radius: 4px;
 }

 html::-webkit-scrollbar-thumb:hover {
     background-color: var(--bleu-hover);
 }

 /* html::-webkit-scrollbar-track {
     background-color: #f4f4f4;
 } */

 /*************** Global styles ***************/

 html body {
     font-family: Arial, sans-serif;
     background-color: var(--background-color-1);
     color: var(--text-color-1);
     margin: 0;
     padding: 20px;
     min-width: 420px;
     display: flex;
     flex-direction: column;
     border-radius: 8;
 }

 h1 {
     text-align: center;
     color: var(--bleu);
 }

 h3 {
     margin-top: 0;
     font-size: 16px;
 }

 /* h3 .filAriane{
    font-size: 14px;
    font-weight: normal;
    color: #888;
 } */

 h4 {
     margin: 10px 0;
     font-size: 14px;
 }

 p {
     font-size: 16px;
     line-height: 1.5;
 }

 a {
     color: var(--bleu);
     text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

 .button {
     padding: 10px;
     background-color: var(--bleu);
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     padding: 10px 20px;
     margin-bottom: 10px;
     font-size: 14px;
 }

 .button:hover {
     background-color: var(--bleu-hover);
 }

 .conteneur {
     width: 100%;
     background-color: var(--background-color-2);
     padding: 20px;
     border-radius: 8px;
     margin-bottom: 20px;
 }

 .hide {
     display: none !important;
 }

 /*************** BOUTON Switch ***************/
 .divSliderButton {
     display: flex;
     align-items: center;
     margin-top: 10px;
     font-size: 14px;
 }

 /* Rounded sliders */
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 /* The switch - the box around the slider */
 .switchButton {
     position: relative;
     display: inline-block;
     width: 40px;
     min-width: 40px;
     height: 22px;
     margin-right: 10px;
 }

 /* Hide default HTML checkbox */
 .switchButton input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: gray;
     transition: 0.4s;
 }

 /* point blanc*/
 .slider::before {
     position: absolute;
     content: "";
     height: 14px;
     width: 14px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     transition: 0.4s;
 }

 input[data-groupe]+.slider::before {
     background-color: #c9ecff;
     /* content: '!'; */
     /* text-align: center; */
     /* font-size: 12px; */
 }
  input[data-groupe-synchro]+.slider::before {
     background-color: #ffc9c9;
 }

 input:checked+.slider {
     background-color: var(--bleu);
 }

 input:checked+.slider:before {
     transform: translateX(18px);
 }

 /*************** Bouton fixé au scroll ***************/

 #refreshContainer.fixed {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     padding: 10px 20px 0 20px;
     background-color: var(--background-color-1);
     z-index: 1000;
     box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
 }

 /*************** Input color ***************/

 .divSliderButton input[type="color"] {
     appearance: none;
     -webkit-appearance: none;
     /* border: none; */
     border: 1px solid black;
     width: 25px;
     min-width: 25px;
     height: 25px;
     border-radius: 6px;
     background: transparent;
     cursor: pointer;
     padding: 0;
     margin-left: 10px;
     /* box-shadow: 0 0 4px 0px #6d6d6d; */
 }

 .divSliderButton input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
     /* border-radius: 6px; */
 }

 .divSliderButton input[type="color"]::-webkit-color-swatch {
     border: none;
     /* border-radius: 6px; */
 }

 .reset-btn {
     background: none;
     border: none;
     font-size: 18px;
     cursor: pointer;
     color: #888;
     padding: 0 6px;
     border-radius: 4px;
     /* transition: color 0.2s; */
 }

 .reset-btn:hover {
     color: #000;
 }

 .divSliderButton select {
     border: 1px solid black;
     border-radius: 6px;
     padding: 4px 8px;
     background: transparent;
     cursor: pointer;
     margin-left: 10px;
 }